@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}


@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 100 900; /* or whatever your variable font supports */
  font-style: normal;
}


@font-face {
  font-family: 'Monotype';
  src: url('/fonts/Monotype-Corsiva-Regular.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: normal;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Satoshi', 'Monotype', 'Lato';
}

html {
	scroll-behavior: smooth;
  }

  @keyframes scrollX {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
    }
    
    .animate-scroll-x {
    animation: scrollX 20s linear infinite;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;
    }

    @keyframes marquee-left {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-50%);
      }
    }
    
    @keyframes marquee-right {
      0% {
        transform: translateX(-50%);
      }
      100% {
        transform: translateX(0%);
      }
    }
    
    .animate-marquee-left {
      animation: marquee-left 40s linear infinite;
    }
    
    .animate-marquee-right {
      animation: marquee-right 40s linear infinite;
    }



@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-scroll-left {
  animation: scroll-left 5s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 5s linear infinite;
}

 /* styles/globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
   
